@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1553584911624'); /* IE9 */
  src: url('iconfont.eot?t=1553584911624#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKoAAsAAAAABnAAAAJbAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp8fwE2AiQDCAsGAAQgBYRtBzAbpQXIDiUFl4hMLQsEQDz8/37t97nvoppU0yyiaBbRRAlTSRDblArdvpTw/ncuD0HYfx5QDRBkIcn1CulL0zE9vwkLpPdmJxmEm9sMuJz+KKBA5oGU25401uQxAaOAA9yb2mTF2DB2wQs8TaDZkCTnVkvXkCMgsycF4kUhgiNQ8MkySzYK9Q0rs3hXpzG9piu8Rb+P/yoRIKkr2GW7z82yo+6n4qQVS2XVZUDwE9D6OhRY4JCJw8bYNrdgLLdmQY8xDlkO/lTKElvFUU2C/XV2YSsYgOJnknjSRy1MICeJYQ4VzMzPTK09s09fQ8/fw6+/oy8/4/L+ztzI7un80XnfMNm7mD04HnEvfWYAz7tjHBnx5dnVaGZgIFFMPDxAX9taf6rVVmtd/WttfTtZIXj/PLm8iS/9B1o26/mo/XVEY8pqdhRVNO7THvwbycCWbMhsS8qapNGRDE+amNCsGSXs6vYzVd93I6nQqO92HA0GMxQaTZCZuYA6LRZRr9Eqms1rXd+iB+MWuQlz1gFCpzMk7WoodLomM/Mbdfr9ol5nuNHsOHp2bDEVSmiTIYEjGcRpUCRqYNfGQ3HxACK2JrC8LGKPIGYpQcils+VkKzIQW2KONUHynGPAjOrQAs5DmkbBZLSMJJ4ucW5WZDK46UNpieqOkE0MIuAQGRBNAwoJZcBBdy5U+f4AhLBpBKyjoi48AmEsSv8gJy07gGxVG4MqHuUWywQij+MwgDGUDrSAYYhGQwGzeVgZIuHSShMipgoZpxMeqk5vr9V/oIjVYBtSOIMK9Y+2QqjtcAAAAAA=') format('woff2'),
  url('iconfont.woff?t=1553584911624') format('woff'),
  url('iconfont.ttf?t=1553584911624') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1553584911624#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duigou:before {
  content: "\e632";
}

